p, div, form, table, td, th, tr, h1 {
	font-family:"Trebuchet MS";
}

.playerLabel {
	font-size:small;
}

#player1Tic {
	content:url("images/x3.png");
}

#player2Tic {
	content:url("images/o3.png");
}

.humanIcon {
	content:url("images/icons/human_icon.png");
}

.randomIcon {
	content:url("images/icons/random_icon.png");
}

.scaredyCatIcon {
	content:url("images/icons/scaredyCat_icon.png");
}

.blackBeardIcon {
	content:url("images/icons/blackBeard_icon.png");
}

.sharpSwordsmanIcon {
	content:url("images/icons/sharpSwordsman_icon.png");
}

.cleverShieldsmanIcon {
	content:url("images/icons/cleverShieldsman_icon.png");
}


.playerSelectTable {
	border-collapse: collapse;
	margin:auto;
	allign:"center";
	
}

.explain {
	font-size:larger;
	width: 70%;
}