p, div, form, table, td, th, tr {
	font-family:"Trebuchet MS";
}

.playerLabel {
	font-size:small;
}

#player1Tic {
	content:url("images/x3.png");
}

#player2Tic {
	content:url("images/o3.png");
}

.humanIcon {
	content:url("images/icons/human_icon.png");
}

.randomIcon{
	content:url("images/icons/random_icon.png");
}

.playerSelectTable {
	border-collapse: collapse;
	margin:auto;
	allign:"center";
	width:"50%";
}