/* Animation... here goes */
.flipTransform {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
/*
.flipTransform-active {
  transform: rotateY(360deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}
*/
.fullFlipTransform {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}

.fullFlipTransform-active {
	transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
}

/* 
Very nice from:
https://stackoverflow.com/questions/6410730/how-to-do-a-webkit-css-endless-rotation-animation */
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

@-webkit-keyframes pulsing {
  0%, 100%{
    transform:scale(1,1);
  }

  50% {
    transform:scale(1.4, 1.4);
  }
}
@keyframes pulsing {
  0%, 100%{
    transform:scale(1,1);
  }

  50% {
    transform:scale(1.4, 1.4);
  }
}
.pulsing {
  -webkit-animation: pulsing 1.5s linear infinite;
  -moz-animation: pulsing 1.5s linear infinite;
  -ms-animation: pulsing 1.5s linear infinite;
  -o-animation: pulsing 1.5s linear infinite;
  animation: pulsing 1.5s linear infinite;
}

.shaking {

  -webkit-animation: shake 1s linear infinite;
  -moz-animation: shake 1s linear infinite;
  -ms-animation: shake 1s linear infinite;
  -o-animation: shake 1s linear infinite;
  animation: shake 1s linear infinite;
}

@keyframes shake {
	
  10%, 90% {
    transform: rotate(20deg)
  }
  
  20%, 80% {
    transform: rotate(-25deg)
  }

  30%, 50%, 70% {
    transform: rotate(15deg) 
  }

  40%, 60% {
    transform: rotate(-10deg)
  }
}
